*{margin: 0;
padding: 0;}

.logomarca
{text-align: center;
}



.imagem_logo{
    width:38% ;
}



.principal{background-image: linear-gradient(#FFFFFF,rgb(201, 201, 201) );
    padding: 13px;
}



h1{color: rgb(51, 50, 50);
    text-align: center;
    font-size: 37px;
    padding: 23px;}




p {font-size: 20px;
    color: rgb(95, 96, 99);
    text-align:center ;}


h2{color: black;
    text-align: center;
   font-size: 37px;
   padding: 23px;}


   .texto {background-color: #c9c7c7;
    }

.foto{width: 30vw;}

.fotos {text-align: center;
justify-content: center;}
