.logomarca{
    background: rgb(218, 211, 211);
    text-align: center;
}

.imagem_logo{
    width:38% ;
}

.principal{background-color: rgba(221, 219, 219, 0.61);}

h1{color: rgba(0, 0, 0, 0.562);}

p{color: rgba(109, 112, 116, 0.829);}

p {font-size: 20px;}